.header {
  font-family: Arial, Helvetica, "Times New Roman";
}

body {
  background-color: lightblue;
}

p{
  font-family: Arial, Helvetica, "Times New Roman";
}

img{
  max-width: 150px;
  border: 5px solid red;
}
